
<div class="{{tab.cssClass}}" data-group="primary" data-tab="armure">
    {{log subTab}}
    <section class="tabArmure">
        <nav class="armorTabs">
            <div class="blockArmure summary active" data-item-id="{{actor.armureData._id}}">
                <a class="item" data-sub-tab="capacites" data-sub-group="primary" data-div="true" data-action="switchSubTab">
                    {{localize "KNIGHT.ARMURE.Label"}}
                </a>
                <a class="item-edit" data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-delete" data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>

            <a class="item" data-sub-tab="modules" data-sub-group="primary" data-action="switchSubTab">{{localize "KNIGHT.ITEMS.MODULE.Label"}}</a>
            <a class="item" data-sub-tab="ia" data-sub-group="primary" data-action="switchSubTab">{{localize "KNIGHT.IA.Label"}}</a>
        </nav>

        <div class="tab-armure MAarmure headerData active" data-sub-tab="capacites" data-sub-group="primary" data-item-id="{{actor.armureData._id}}">
            <div class="capacites">
                <h2 class="header js-toggler">
                    {{~> knight.jsToggle}}
                    {{localize "KNIGHT.CAPACITES.Label"}}
                </h2>
                {{#each actor.armureData.system.capacites.selected as | key selected|}}
                    {{#if (capaciteIsValid @root key selected)}} {{~> (affichageCapacite . key) data=@root/systemData/equipements/armure/capacites}} {{else}} {{log "ERREUR ! Capacité incorrect. Correction en cours..." @root/data level="error"}} {{/if}}
                {{/each}}
            </div>

            <div class="special">
                <h2 class="header">
                    {{~> knight.jsToggle}}
                    {{localize "KNIGHT.ITEMS.ARMURE.Special"}}
                </h2>
                {{#each actor.armureData.system.special.selected as | key selected|}}
                    {{#if (specialIsValid @root key selected)}} {{~> (affichageSpecial . key)}} {{else}} {{log "ERREUR ! Spécial incorrect. Correction en cours..." @root/data level="error"}}{{/if}}
                {{/each}}
            </div>

            {{#unless (isEmpty actor.armureLegendeData)}}
            <div class="capacites capacitesLegende summary" data-item-id="{{actor.armureLegendeData._id}}">
                <h2 class="header">
                    {{~> knight.jsToggle}}
                    {{localize "ITEM.TypeArmurelegende"}} : {{localize "KNIGHT.CAPACITES.Label"}}

                    {{~> knight.itemButtons onlyInner=true}}
                </h2>
                {{#each actor.armureLegendeData.system.capacites.selected as | key selected|}}
                    {{#if (capaciteIsValid @root key selected)}} {{~> (affichageCapaciteLegende . key) data=@root/systemData/equipements/armure/capacites}} {{else}} {{log "ERREUR ! " @root/data level="error"}} {{/if}}
                {{/each}}
            </div>
            {{/unless}}

            {{#unless (isEmpty actor.armureLegendeData)}}
                {{#unless (isEmpty actor.armureLegendeData.system.special.selected)}}
                    <div class="capacites specialLegende">
                        <h2 class="header js-toggler">
                            {{~> knight.jsToggle}}
                            {{localize "ITEM.TypeArmurelegende"}} : {{localize "KNIGHT.ITEMS.ARMURE.Special"}}
                        </h2>
                        {{#each actor.armureLegendeData.system.special.selected as | key selected|}}
                            {{#if (capaciteIsValid @root key selected)}} {{~> (affichageSpecialLegende . key)}} {{else}} {{log "ERREUR ! " @root/data level="error"}}{{/if}}
                        {{/each}}
                    </div>
                {{/unless}}
            {{/unless}}

            {{~> knight.capaciteultime}}
            {{~> knight.overdrives}}
        </div>

        <div class="tab-armure MAmodule" data-sub-tab="modules" data-sub-group="primary">
            <div class="slots">
                <h2 class="header js-toggler">
                    {{~> knight.jsToggle}}
                    {{localize "KNIGHT.ITEMS.ARMURE.SLOTS.Label"}}
                </h2>

                <div class="line">
                    <div class="block {{#if (isNegative actor.armureData.system.slots.tete.value systemData.equipements.armure.slots.tete)}}red{{/if}}">
                        <span class="title">{{localize "KNIGHT.ITEMS.ARMURE.SLOTS.Tete"}}</span>
                        <span class="score">
                            {{systemData.equipements.armure.slots.tete}} / {{actor.armureData.system.slots.tete.value}}
                        </span>
                    </div>

                    <div class="block {{#if (isNegative actor.armureData.system.slots.brasGauche.value systemData.equipements.armure.slots.brasGauche)}}red{{/if}}">
                        <span class="title">{{localize "KNIGHT.ITEMS.ARMURE.SLOTS.BrasGauche"}}</span>
                        <span class="score">
                            {{systemData.equipements.armure.slots.brasGauche}} / {{actor.armureData.system.slots.brasGauche.value}}
                        </span>
                    </div>

                    <div class="block {{#if (isNegative actor.armureData.system.slots.brasDroit.value systemData.equipements.armure.slots.brasDroit)}}red{{/if}}">
                        <span class="title">{{localize "KNIGHT.ITEMS.ARMURE.SLOTS.BrasDroit"}}</span>
                        <span class="score">
                            {{systemData.equipements.armure.slots.brasDroit}} / {{actor.armureData.system.slots.brasDroit.value}}
                        </span>
                    </div>

                    <div class="block {{#if (isNegative actor.armureData.system.slots.torse.value systemData.equipements.armure.slots.torse)}}red{{/if}}">
                        <span class="title">{{localize "KNIGHT.ITEMS.ARMURE.SLOTS.Torse"}}</span>
                        <span class="score">
                            {{systemData.equipements.armure.slots.torse}} / {{actor.armureData.system.slots.torse.value}}
                        </span>
                    </div>

                    <div class="block {{#if (isNegative actor.armureData.system.slots.jambeGauche.value systemData.equipements.armure.slots.jambeGauche)}}red{{/if}}">
                        <span class="title">{{localize "KNIGHT.ITEMS.ARMURE.SLOTS.JambeGauche"}}</span>
                        <span class="score">
                            {{systemData.equipements.armure.slots.jambeGauche}} / {{actor.armureData.system.slots.jambeGauche.value}}
                        </span>
                    </div>

                    <div class="block {{#if (isNegative actor.armureData.system.slots.jambeDroite.value systemData.equipements.armure.slots.jambeDroite)}}red{{/if}}">
                        <span class="title">{{localize "KNIGHT.ITEMS.ARMURE.SLOTS.JambeDroite"}}</span>
                        <span class="score">
                            {{systemData.equipements.armure.slots.jambeDroite}} / {{actor.armureData.system.slots.jambeDroite.value}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="modules item-list">
                <h2 class="header js-toggler">
                    {{~> knight.jsToggle}}
                    {{localize "KNIGHT.ITEMS.MODULE.Label"}}

                    <a class="item-control item-create" title="Create Item" data-type="module"><i class="fas fa-plus"></i></a>
                </h2>

                {{#each actor.modules as | key module|}}
                    {{~> knight.modules key=key}}
                {{/each}}
            </div>

            <div class="modules item-list">
                <h2 class="header js-toggler">
                    {{~> knight.jsToggle}}
                    {{localize "KNIGHT.ITEMS.ARMURE.Overdrives"}}
                </h2>

                {{#each actor.moduleOD as | key module|}}
                    {{~> knight.modules key=key}}
                {{/each}}
            </div>
        </div>

        <div class="tab-armure MAia" data-sub-tab="ia" data-sub-group="primary">
            <div class="ia">
                <div class="col">
                    <div class="data">
                        <h2>{{localize "KNIGHT.IA.IDENTITE.Label"}}</h2>
                        <label class="middle">
                            <span>{{localize "KNIGHT.IA.IDENTITE.Code"}}</span>
                            <input type="text" name="system.equipements.ia.code" value="{{systemData.equipements.ia.code}}" />
                        </label>
                        <label class="middle">
                            <span>{{localize "KNIGHT.Surnom"}}</span>
                            <input type="text" name="system.equipements.ia.surnom" value="{{systemData.equipements.ia.surnom}}" />
                        </label>
                    </div>

                    <div class="avantages item-list">
                        <h2 class="header">
                            {{localize "KNIGHT.PERSONNAGE.Avantages"}}
                            <a class="item-control item-create" title="Create Item" data-type="avantage" data-subtype="ia"><i class="fas fa-plus"></i></a>
                        </h2>
                        {{#each actor.avantagesIA as | key avantages|}}
                        <div class="block item" data-item-id="{{key._id}}">
                            <header class="summary header js-toggler" data-item-id="{{key._id}}">
                                {{~> knight.jsToggle}}
                                <div class="gestionButton">
                                    <a class="avdvshow" data-value="{{key.system.show}}" title="{{#if key.system.show}}{{KNIGHT.IA.MasqueAvantage}}{{else}}{{KNIGHT.IA.MonstrerAvantage}}{{/if}}">
                                    {{#if key.system.show}}
                                        <i class="fa-solid fa-eye"></i>
                                    {{else}}
                                        <i class="fa-solid fa-eye-slash"></i>
                                    {{/if}}
                                    </a>
                                    <a class="item-control item-edit" data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                                </div>
                                <span>{{key.name}}</span>
                            </header>
                            <span class="description">
                                {{{key.system.description}}}
                            </span>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="col">
                    <div class="data">
                        <div class="description">
                            <h2>{{localize "KNIGHT.IA.Caractere"}}</h2>
                            {{editor systemData.equipements.ia.caractere target="system.equipements.ia.caractere" button=true owner=owner editable=editable}}
                        </div>
                    </div>

                    <div class="inconvenients item-list">
                        <h2 class="header">
                            {{localize "KNIGHT.PERSONNAGE.Inconvenient"}}
                            <a class="item-control item-create" title="Create Item" data-type="inconvenient" data-subtype="ia"><i class="fas fa-plus"></i></a>
                        </h2>
                        {{#each actor.inconvenientIA as | key inconvenient|}}
                        <div class="block item" data-item-id="{{key._id}}">
                            <header class="summary header js-toggler" data-item-id="{{key._id}}">
                                {{~> knight.jsToggle}}
                                <div class="gestionButton">
                                    <a class="avdvshow" data-value="{{key.system.show}}" title="{{#if key.system.show}}{{KNIGHT.IA.MasqueAvantage}}{{else}}{{KNIGHT.IA.MonstrerAvantage}}{{/if}}">
                                    {{#if key.system.show}}
                                        <i class="fa-solid fa-eye"></i>
                                    {{else}}
                                        <i class="fa-solid fa-eye-slash"></i>
                                    {{/if}}
                                    </a>
                                    <a class="item-control item-edit" data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                                </div>
                                <span>{{key.name}}</span>
                            </header>
                            <span class="description">
                                {{{key.system.description}}}
                            </span>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>