
<div class="{{tab.cssClass}}" data-group="primary" data-tab="progression">
    <div class="main">
        <div class="dataExperience">
            <h2 class="header">
                {{localize "KNIGHT.PROGRESSION.EXPERIENCE.Label"}}
            </h2>
            <label>
                <span class="label">
                    {{localize "KNIGHT.PROGRESSION.Actuel"}}
                </span>
                <span class="score">
                    {{systemData.progression.experience.actuel}}
                </span>
            </label>
            <label>
                <span class="label">
                    {{localize "KNIGHT.PROGRESSION.Utilise"}}
                </span>
                <span class="score">
                    {{systemData.progression.experience.depense.total}}
                </span>
            </label>
            <label>
                <span class="label">
                    {{localize "KNIGHT.AUTRE.Total"}}
                </span>
                <input type="number"  data-dtype="Number"name="system.progression.experience.total" value="{{systemData.progression.experience.total}}" />
            </label>
        </div>

        <div class="dataPG">
            <h2 class="header">
                {{localize "KNIGHT.PROGRESSION.GLOIRE.Label"}}
            </h2>
            <label>
                <span class="label">
                    {{localize "KNIGHT.PROGRESSION.Actuel"}}
                </span>
                <span class="score">
                    {{#if systemData.progression.gloire.actuel}}
                        {{systemData.progression.gloire.actuel}}
                    {{else}}
                        0
                    {{/if}}
                </span>
            </label>
            <label>
                <span class="label">
                    {{localize "KNIGHT.PROGRESSION.Utilise"}}
                </span>
                <span class="score">
                    {{#if systemData.progression.gloire.depense.total}}
                        {{systemData.progression.gloire.depense.total}}
                    {{else}}
                        0
                    {{/if}}
                </span>
            </label>
            <label>
                <span class="label">
                    {{localize "KNIGHT.AUTRE.Total"}}
                </span>
                <input type="number"  data-dtype="Number"name="system.progression.gloire.total" value="{{systemData.progression.gloire.total}}" />
            </label>
        </div>

        {{#unless (isEmpty actor.evolutionsAAcheter)}}
        <div class="evolutionsAAcheter">
            {{#each actor.evolutionsAAcheter as | key evolution|}}
            <button class="acheter-evolution-longbow" data-id="{{key.id}}" data-value="{{key.value}}" title="{{key.description}}">
                {{localize "KNIGHT.PROGRESSION.AcheterEvolutionLongbow"}} : {{key.value}}{{localize "KNIGHT.AUTRE.PointGloire-short"}}
                <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
            </button>
            {{/each}}
        </div>
        {{/unless}}

        <div class="tableauPG summary">
            <h2 class="header js-toggler">
                {{~> knight.jsToggle}}
                {{localize "KNIGHT.PROGRESSION.GLOIRE.ListeDepense"}}
                <a data-action="noItemCreate" data-type="gloire" data-tooltip="{{localize "KNIGHT.AUTRE.CreateItem" item=(localize "KNIGHT.PROGRESSION.GLOIRE.DepensePG")}}"><i class="fas fa-plus"></i></a>
            </h2>
            <div class="lineHeader">
                <span></span>
                <span class="label">{{localize "KNIGHT.Nom"}}</span>
                <span class="value borderLeft2">{{localize "KNIGHT.PROGRESSION.Cout"}}</span>
                <span class="last borderLeft2"></span>
            </div>
            {{#each systemData.progression.gloire.depense.liste as | key depense|}}
                {{~> knight.progression.gloire this}}
            {{/each}}
        </div>

        <div class="tableauPX summary">
            <h2 class="header js-toggler">
                {{~> knight.jsToggle}}
                {{localize "KNIGHT.PROGRESSION.EXPERIENCE.ListeDepense"}}
                <a data-action="noItemCreate" data-type="experience" data-tooltip="{{localize "KNIGHT.AUTRE.CreateItem" item=(localize 'KNIGHT.PROGRESSION.EXPERIENCE.DepenseXP')}}"><i class="fas fa-plus"></i></a>
            </h2>
            <div class="lineHeader">
                <span></span>
                <span class="label">{{localize "KNIGHT.Nom"}}</span>
                <span class="value borderLeft2">{{localize "KNIGHT.BONUS.Label"}}</span>
                <span class="value borderLeft2">{{localize "KNIGHT.PROGRESSION.Cout"}}</span>
            </div>
            {{#each systemData.progression.experience.depense.liste as | key depense|}}
                {{~> knight.progression.xp this index=depense}}
            {{/each}}
        </div>
    </div>
</div>