
<div class="{{tab.cssClass}}" data-group="primary" data-tab="historique">
    <div class="main">
        <div class="langues item-list">
            <h2 class="header">
                {{localize "KNIGHT.HISTORIQUE.Langues"}}
                {{~> knight.itemCreate strLoc="KNIGHT.HISTORIQUE.Langues" data=(object type="langue")}}
                <span class="headerScore">{{systemData.langues.value}}</span>
            </h2>
            {{#each actor.langue as | key langue|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary" data-item-id="{{key._id}}">
                    {{~> knight.itemButtons}}
                    <span>{{key.name}}</span>
                </header>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="histoire">
        <h2 class="header">{{localize "KNIGHT.HISTORIQUE.Histoire"}}</h2>

        {{formInput
            systemFields.histoire
            enriched=enrichedHistoire
            value=systemData.histoire
            documentUUID=actor.uuid
            name="system.histoire"
            collaborate="false"
            toggled="true"
        }}
    </div>
</div>
