
<div class="{{tab.cssClass}}" data-group="primary" data-tab="autre">
    <div class="bOptions">
        <h2 class="header">
            {{localize "KNIGHT.OPTIONS.Label"}}
        </h2>

        {{#each options}}
            <button type="action"
            data-action="optionsClick"
            data-option="{{option}}"
            class="{{class}}">
                {{localize label}}
            </button>
        {{/each}}
    </div>
    {{#if (hasPJRestaure)}}
    <div class="bRecover">
        <h2 class="header">
            {{localize "KNIGHT.RECUPERER.Label"}}
        </h2>

            {{#each recuperations}}
                <button type="action"
                data-action="{{action}}"
                data-type="{{type}}"
                class="{{class}}">
                    {{localize label}}
                </button>
            {{/each}}
    </div>
    {{/if}}
    {{#if (or
        (hasCapacite this 'warlord')
        (hasCapacite this 'type')
        actor.armureData.system.archivage.liste
        (not (isEmpty actor.armureData.system.archivage.longbow))
    )}}
    <div class="bRollback">
        <h2 class="header">
            {{localize "KNIGHT.ROLLBACK.Label"}}
        </h2>
        {{#if (hasCapacite this 'warlord')}}
            <button type="action" data-action="optionsClick" class="unselected" data-option="resetwarlord">
                {{localize "KNIGHT.ROLLBACK.Resetwarlord"}}
            </button>
        {{/if}}

        {{#if (hasCapacite this 'type')}}
            <button type="action" data-action="optionsClick" class="unselected" data-option="resettype">
                {{localize "KNIGHT.ROLLBACK.Resettype"}}
            </button>
        {{/if}}

        {{#if actor.armureData.system.archivage.liste}}
            <h3>
                {{localize "KNIGHT.ROLLBACK.Avantevolution"}}
            </h3>
            <span class="notes">{{localize "KNIGHT.ROLLBACK.Notes"}}</span>
            {{#each actor.armureData.system.archivage.liste as |key data|}}
            <div class="col">
                <span class="pg">{{data}}{{localize 'KNIGHT.AUTRE.PointGloire-short'}}</span>
                <a class="retour" data-value="{{@index}}" data-type="liste">{{localize "KNIGHT.ROLLBACK.Revenir"}}</a>
            </div>
            {{/each}}
        {{/if}}
        {{#unless (isEmpty actor.armureData.system.archivage.longbow)}}
            <h3>
                {{localize "KNIGHT.ROLLBACK.Avantevolutionlongbow"}}
            </h3>
            <span class="notes">{{localize "KNIGHT.ROLLBACK.Noteslongbow"}}</span>
            {{#each actor.armureData.system.archivage.longbow as |key data|}}
                <div class="col">
                    <span class="pg">{{key.value}}{{localize 'KNIGHT.AUTRE.PointGloire-short'}}</span>
                    <a class="retour" data-value="{{data}}" data-type="longbow">{{localize "KNIGHT.ROLLBACK.Revenir"}}</a>
                    <span class="description">{{key.description}}</span>
                </div>
            {{/each}}
        {{/unless}}
    </div>
    {{/if}}
    {{#if systemData.options.phase2}}
    <div class="phase2">
        <h2 class="header">
            {{localize "KNIGHT.PHASE2.Bonus"}}
        </h2>

        <label class="longspan">
            <span class="label">{{localize "KNIGHT.LATERAL.Sante"}}</span>
            <input type="number" name="system.phase2.sante" value="{{systemData.phase2.sante}}" />
        </label>

        <label class="longspan">
            <span class="label">{{localize "KNIGHT.LATERAL.Armure"}}</span>
            <input type="number" name="system.phase2.sante" value="{{systemData.phase2.armure}}" />
        </label>

        <label class="longspan">
            <span class="label">{{localize "KNIGHT.LATERAL.Energie"}}</span>
            <input type="number" name="system.phase2.sante" value="{{systemData.phase2.energie}}" />
        </label>

        <div class="aspects">
            {{#each systemData.phase2.aspects as | key aspect|}}
            <div class="block">
                <h3 class="header">
                    {{getAspect aspect}}
                    <input type="number" name="system.phase2.aspects.{{aspect}}.value" value="{{key.value}}" min="0" max="20" />
                </h3>
                <select name="system.phase2.aspects.{{aspect}}.ae.mineur">
                    {{selectOptions (getAE 'Mineur' '10') selected=key.ae.mineur}}
                </select>
                <select name="system.phase2.aspects.{{aspect}}.ae.majeur">
                    {{selectOptions (getAE 'Majeur' '10') selected=key.ae.majeur}}
                </select>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>