
<div class="{{tab.cssClass}}" data-group="primary" data-tab="personnage">
    <div class="motivations">
        <div class="majeure">
            <h2 class="header">{{localize "KNIGHT.PERSONNAGE.MotivationMajeure"}}</h2>

            <textarea name="system.motivations.majeure">{{systemData.motivations.majeure}}</textarea>
        </div>

        <div class="mineure item-list">
            <h2 class="header">
                <span>{{localize "KNIGHT.PERSONNAGE.MotivationMineures"}}</span>
                {{#unless systemData.espoir.recuperation.aucun}}
                <button type="action" class="motivationAccomplie">{{localize "KNIGHT.PERSONNAGE.MotivationAccomplie"}}</button>
                {{/unless}}
                {{~> knight.itemCreate strLoc="KNIGHT.PERSONNAGE.MotivationMineures" data=(object type="motivationMineure")}}
            </h2>
            {{#each actor.motivationMineure as | key motivation|}}
            <div class="block summary item" data-item-id="{{key._id}}">
                {{~> knight.itemButtons}}
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    {{~> knight.cyberware}}

    <div class="avDv">
        <div class="av item-list">
            <h2 class="header">
                {{localize "KNIGHT.PERSONNAGE.Avantages"}}
                {{~> knight.itemCreate strLoc="KNIGHT.PERSONNAGE.Avantages" data=(object type="avantage")}}
            </h2>
            {{#each actor.avantages as | key avantages|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    {{~> knight.jsToggle}}
                    {{~> knight.itemButtons}}
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>

        <div class="dv item-list">
            <h2 class="header">
                {{localize "KNIGHT.PERSONNAGE.Inconvenient"}}
                {{~> knight.itemCreate strLoc="KNIGHT.PERSONNAGE.Inconvenient" data=(object type="inconvenient")}}
            </h2>
            {{#each actor.inconvenient as | key inconvenient|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    {{~> knight.jsToggle}}
                    {{~> knight.itemButtons}}
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    {{#if actor.distinctions}}
        {{~> knight.distinctions}}
    {{/if}}

    <div class="heroisme">
        <div class="liste item-list">
            <h2 class="header">
                {{localize "KNIGHT.HEROISME.CARTE.Label"}}
                {{~> knight.itemCreate strLoc="KNIGHT.HEROISME.CARTE.Label" data=(object type="carteheroique")}}
            </h2>
            {{#each actor.carteHeroique as | key heroisme|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    {{~> knight.jsToggle}}
                    {{~> knight.itemButtons}}
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>

        <div class="liste item-list">
            <h2 class="header">
                {{localize "KNIGHT.HEROISME.CAPACITE.Label"}}
                {{~> knight.itemCreate strLoc="KNIGHT.HEROISME.CAPACITE.Label" data=(object type="capaciteheroique")}}
            </h2>
            {{#each actor.capaciteHeroique as | key heroisme|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    {{~> knight.jsToggle}}
                    {{~> knight.itemButtons}}
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="description hideShowLimited" data-toverify="showDescriptionFull" data-default="false" data-onlygm="false">
        <h2 class="header">
            {{localize "KNIGHT.Description"}}
            {{~> knight.hideLimited path='showDescriptionFull'}}
        </h2>

        {{formInput
            systemFields.description
            enriched=enrichedDescription
            value=systemData.description
            documentUUID=actor.uuid
            name="system.description"
            collaborate="false"
            toggled="true"
        }}
    </div>

    <div class="description marginTop hideShowLimited" data-toverify="showDescriptionLimited" data-default="true" data-onlygm="false">
        <h2 class="header">
            {{localize "KNIGHT.DescriptionLimitee"}}
            {{~> knight.hideLimited path='showDescriptionLimited'}}
        </h2>

        {{formInput
            systemFields.descriptionLimitee
            enriched=enrichedDescriptionLimitee
            value=systemData.descriptionLimitee
            documentUUID=actor.uuid
            name="system.descriptionLimitee"
            collaborate="false"
            toggled="true"
        }}
    </div>
</div>