
<section class="menu">
    {{#each menu}}
        {{#if (eq key 'selectWithTooltip')}}
            <div class="{{class}} {{key}} {{ifThen @first '' 'borderTop'}} {{ifThen @last 'borderBottom' ''}}">
                <span class="label">{{localize label}}</span>
                <span class="tooltip" data-action="lockTooltip" data-tooltip="{{tooltip}}">?</span>
                <select name="system.{{path}}">
                    {{selectOptions options selected=(getProperty ../systemData path) localize=true}}
                </select>
            </div>
        {{/if}}
        {{#if (eq key 'inputWithSpanMax')}}
            <div class="{{class}} {{key}} {{ifThen @first '' 'borderTop'}} {{ifThen @last 'borderBottom' ''}}">
                <div class="header line {{ifThen (isEmpty submenu) '' 'submenu'}}">
                    {{#unless (isEmpty submenu)}}<img data-action="jsToggle" class="fa-plus-square" src="systems/knight/assets/icons/option.svg">{{/unless}}
                    <span class="label">{{localize label}}</span>
                    <input type="number" name="system.{{value}}" min="{{min}}" max="{{max}}" value="{{getProperty ../systemData value}}" />
                    <span class="separation">/</span>
                    <span class="score" data-tooltip="{{menuTooltip tooltip ../systemData}}">{{getProperty ../systemData max}}</span>
                </div>
                {{#each submenu}}
                    {{~> knight.subMenu data=../../this}}
                {{/each}}
            </div>
        {{/if}}

        {{#if (eq key 'inputWithSpanMaxWithButtons')}}
            <div class="{{class}} {{key}} {{ifThen @first '' 'borderTop'}} {{ifThen @last 'borderBottom' ''}}">
                <div class="header line {{ifThen (isEmpty submenu) '' 'submenu'}}">
                    {{#unless (isEmpty submenu)}}<img data-action="jsToggle" class="fa-plus-square" src="systems/knight/assets/icons/option.svg">{{/unless}}
                    <span class="label">{{localize label}}</span>
                    <input type="number" name="system.{{value}}" min="{{min}}" max="{{max}}" value="{{getProperty ../systemData value}}" />
                    <span class="separation">/</span>
                    <span class="score" data-tooltip="{{menuTooltip tooltip ../systemData}}">{{getProperty ../systemData max}}</span>
                    <button class="button"
                        data-action="{{btn.action}}"
                        data-label="{{btn.label}}"
                        data-name="{{btn.name}}"
                        data-value="{{btn.value}}"
                        data-caracteristique="{{btn.caracteristique}}"
                        data-caracAdd="{{btn.caracAdd}}"
                    >{{localize btn.label}}</button>
                </div>
                {{#each submenu}}
                    {{~> knight.subMenu data=../../this}}
                {{/each}}
            </div>
        {{/if}}

        {{#if (eq key 'onlySpan')}}
            <div class="{{class}} {{key}} {{ifThen @first '' 'borderTop'}} {{ifThen @last 'borderBottom' ''}}">
                <div class="header line {{ifThen (isEmpty submenu) '' 'submenu'}}">
                    {{#unless (isEmpty submenu)}}<img data-action="jsToggle" class="fa-plus-square" src="systems/knight/assets/icons/option.svg">{{/unless}}
                    <span class="label">{{localize label}}</span>
                    <span class="score" data-tooltip="{{menuTooltip tooltip ../systemData}}">{{getProperty ../systemData value}}</span>
                </div>
                {{#each submenu}}
                    {{~> knight.subMenu data=../../this}}
                {{/each}}
            </div>
        {{/if}}

        {{#if (eq key 'onlySpanWithDice')}}
            <div class="{{class}} {{key}} {{ifThen @first '' 'borderTop'}} {{ifThen @last 'borderBottom' ''}}">
                <div class="header line {{ifThen (isEmpty submenu) '' 'submenu'}}">
                    {{#unless (isEmpty submenu)}}<img data-action="jsToggle" class="fa-plus-square" src="systems/knight/assets/icons/option.svg">{{/unless}}
                    <span class="label">{{localize label}}</span>
                    <span class="score" data-tooltip="{{menuTooltip tooltip ../systemData}}">
                        {{getProperty ../systemData dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{getProperty ../systemData value}}
                    </span>
                </div>
                {{#each submenu}}
                    {{~> knight.subMenu data=../../this}}
                {{/each}}
            </div>
        {{/if}}

        {{#if (eq key 'onlySpanWithButtons')}}
            <div class="{{class}} {{key}} {{ifThen @first '' 'borderTop'}} {{ifThen @last 'borderBottom' ''}}">
                <div class="header line {{ifThen (isEmpty submenu) '' 'submenu'}}">
                    {{#unless (isEmpty submenu)}}<img data-action="jsToggle" class="fa-plus-square" src="systems/knight/assets/icons/option.svg">{{/unless}}
                    <span class="label">{{localize label}}</span>
                    <span class="score" data-tooltip="{{menuTooltip tooltip ../systemData}}">{{getProperty ../systemData value}}</span>
                    <button class="button"
                        data-action="{{btn.action}}"
                        data-label="{{btn.label}}"
                        data-name="{{btn.name}}"
                        data-value="{{btn.value}}"
                        data-caracteristique="{{btn.caracteristique}}"
                        data-caracAdd="{{btn.caracAdd}}"
                    >{{localize btn.label}}</button>
                </div>
                {{#each submenu}}
                    {{~> knight.subMenu data=../../this}}
                {{/each}}
            </div>
        {{/if}}

        {{#if (eq key 'simpleInput')}}
            <div class="{{class}} {{key}} {{ifThen @first '' 'borderTop'}} {{ifThen @last 'borderBottom' ''}}">
                <div class="header line">
                    <span class="label">{{localize label}}</span>
                    <input type="number" name="system.{{path}}" min="{{min}}" max="{{max}}" value="{{getProperty ../systemData path}}" />
                </div>
            </div>
        {{/if}}

        {{#if (eq key 'separateur')}}
        <div class="{{key}}">
            <hr/>
        </div>
        {{/if}}
    {{/each}}
</section>