<div class="upperheader">
    {{#unless (isEmpty actor.evolutionsAchetables)}}
    <div class="evolutionsAchetables">
        {{#if actor.evolutionsAchetables}}
            <button data-action="evolution" data-num="{{actor.evolutionsAchetables.0.id}}" data-type="armor">
                {{localize "KNIGHT.ITEMS.ARMURE.EVOLUTIONS.EvolutionDisponible"}} ({{actor.evolutionsAchetables.0.value}}{{localize "KNIGHT.AUTRE.PointGloire-short"}}) - {{localize "KNIGHT.AUTRE.CliquezIci"}}
            </button>
        {{/if}}
    </div>
    {{/unless}}

    {{#unless (isEmpty actor.evolutionsCompanions)}}
    <div class="evolutionsAchetables">
        {{#if actor.evolutionsCompanions}}
            <button data-action="evolution" class="appliquer-evolution-companions" data-num="{{actor.evolutionsCompanions.0.value}}" data-type="companion">
                {{localize "KNIGHT.ITEMS.ARMURE.EVOLUTIONS.EvolutionCompanionDisponible"}} ({{actor.evolutionsCompanions.0.value}}{{localize "KNIGHT.AUTRE.PointGloire-short"}}) - {{localize "KNIGHT.AUTRE.CliquezIci"}}
            </button>
        {{/if}}
    </div>
    {{/unless}}
</div>