<div class="oneCol">
    <input type="number" name="{{data.path}}.dice" value="{{data.dice}}" min="0" />
    <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
    <input type="number" name="{{data.path}}.fixe" value="{{data.fixe}}" />
</div>