
<div class="{{tab.cssClass}}" data-group="primary" data-tab="autre">
    <div class="bOptions">
        <h2 class="header">
            {{localize "KNIGHT.OPTIONS.Label"}}
        </h2>

        <button type="action"
        data-action="optionsClick"
        data-value="{{systemData.options.kraken}}"
        data-option="kraken"
        class="{{ifThen systemData.options.kraken 'selected' 'unselected'}}">
            {{#if systemData.options.kraken}}
                {{localize "KNIGHT.OPTIONS.KRAKEN.Has"}}
            {{else}}
                {{localize "KNIGHT.OPTIONS.KRAKEN.Hasnt"}}
            {{/if}}
        </button>

        <button type="action"
        data-action="optionsClick"
        data-value="{{systemData.options.art}}"
        data-option="art"
        class="{{ifThen systemData.options.art 'selected' 'unselected'}}">
            {{#if systemData.options.art}}
                {{localize "KNIGHT.OPTIONS.ART.Has"}}
            {{else}}
                {{localize "KNIGHT.OPTIONS.ART.Hasnt"}}
            {{/if}}
        </button>
    </div>
    <div class="bRecover">
        <h2 class="header">
            {{localize "KNIGHT.RECUPERER.Label"}}
        </h2>

        {{#if (hasPJRestaure)}}
            {{#if systemData.jauges.sante}}
                <button type="action" data-action="recoverClick" class="recover unselected" data-type="sante">{{localize "KNIGHT.RECUPERER.Sante"}}</button>
            {{/if}}

            {{#if systemData.jauges.armure}}
                <button type="action" data-action="recoverClick" class="recover unselected" data-type="armure">{{localize "KNIGHT.RECUPERER.Armure"}}</button>
            {{/if}}

            {{#if systemData.jauges.energie}}
                <button type="action" data-action="recoverClick" class="recover unselected" data-type="energie">{{localize "KNIGHT.RECUPERER.Energie"}}</button>
            {{/if}}

            {{#if systemData.jauges.espoir}}
                <button type="action" data-action="recoverClick" class="recover unselected" data-type="espoir">{{localize "KNIGHT.RECUPERER.Espoir"}}</but>
            {{/if}}

            <button type="action" data-action="recoverClick" class="recover unselected" data-type="contacts">{{localize "KNIGHT.RECUPERER.Contacts"}}</button>
        {{/if}}

        <button type="action" data-action="recoverClick" class="recover unselected" data-type="chargeur">{{localize "KNIGHT.EFFETS.CHARGEUR.Restaurer"}}</button>
    </div>
    {{#if (or
        (hasCapacite this 'warlord')
        (hasCapacite this 'type')
        actor.armureData.system.archivage.liste
        (not (isEmpty actor.armureData.system.archivage.longbow))
    )}}
    <div class="bRollback">
        <h2 class="header">
            {{localize "KNIGHT.ROLLBACK.Label"}}
        </h2>
        {{#if (hasCapacite this 'warlord')}}
            <button type="action" data-action="optionsClick" class="unselected" data-option="resetwarlord">
                {{localize "KNIGHT.ROLLBACK.Resetwarlord"}}
            </button>
        {{/if}}

        {{#if (hasCapacite this 'type')}}
            <button type="action" data-action="optionsClick" class="unselected" data-option="resettype">
                {{localize "KNIGHT.ROLLBACK.Resettype"}}
            </button>
        {{/if}}

        {{#if actor.armureData.system.archivage.liste}}
            <h3>
                {{localize "KNIGHT.ROLLBACK.Avantevolution"}}
            </h3>
            <span class="notes">{{localize "KNIGHT.ROLLBACK.Notes"}}</span>
            {{#each actor.armureData.system.archivage.liste as |key data|}}
            <div class="col">
                <span class="pg">{{data}}{{localize 'KNIGHT.AUTRE.PointGloire-short'}}</span>
                <a class="retour" data-value="{{@index}}" data-type="liste">{{localize "KNIGHT.ROLLBACK.Revenir"}}</a>
            </div>
            {{/each}}
        {{/if}}
        {{#unless (isEmpty actor.armureData.system.archivage.longbow)}}
            <h3>
                {{localize "KNIGHT.ROLLBACK.Avantevolutionlongbow"}}
            </h3>
            <span class="notes">{{localize "KNIGHT.ROLLBACK.Noteslongbow"}}</span>
            {{#each actor.armureData.system.archivage.longbow as |key data|}}
                <div class="col">
                    <span class="pg">{{key.value}}{{localize 'KNIGHT.AUTRE.PointGloire-short'}}</span>
                    <a class="retour" data-value="{{data}}" data-type="longbow">{{localize "KNIGHT.ROLLBACK.Revenir"}}</a>
                    <span class="description">{{key.description}}</span>
                </div>
            {{/each}}
        {{/unless}}
    </div>
    {{/if}}
</div>