
<div class="ghost">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{label}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            {{#unless active.horsconflit}}
            <button class="activation"
                data-type="capacites"
                data-capacite="{{key}}"
                data-special="conflit">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.ActivationConflit"}} : {{localizeactivate active.conflit}}
            </button>
            {{/unless}}

            {{#unless active.conflit}}
            <button class="activation"
                data-type="capacites"
                data-capacite="{{key}}"
                data-special="horsconflit">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.ActivationHorsConflit"}} : {{localizeactivate active.horsconflit}}
            </button>
            {{/unless}}

            {{#if active.conflit}}
            <button class="prolonger"
                data-type="capacites"
                data-capacite="{{key}}"
                data-special="conflit">
                {{localize "KNIGHT.AUTRE.Prolonger"}}
            </button>

            <button class="roll" data-label="{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.Label"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.PasserInaperçu"}}"
                data-reussiteBonus="{{bonus.reussites}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.JetPasserInaperçu"}}
            </button>
            {{/if}}

            {{#if active.horsconflit}}
            <button class="prolonger"
                data-type="capacites"
                data-capacite="{{key}}"
                data-special="horsconflit">
                {{localize "KNIGHT.AUTRE.Prolonger"}}
            </button>

            <button class="roll" data-label="{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.Label"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.PasserInaperçu"}}"
                data-reussiteBonus="{{bonus.reussites}}" data-succestemp="{{bonus.reussites}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.JetPasserInaperçu"}}
            </button>
            {{/if}}
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <h4>{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.ENERGIE.Tour"}}</span>
                <span class="score">{{this.energie.tour}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.ENERGIE.Minute"}}</span>
                <span class="score">{{this.energie.minute}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.duree}}</span>
            </div>
            <span class="oneLine">{{this.interruption.label}}</span>
        </div>

        <div class="data">
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GHOST.BonusPasserInaperçu"}}</span>
                <span class="score">{{this.bonus.reussites}}</span>
            </div>
            <div class="middlespan separation">
                <span class="header">{{localize "KNIGHT.BONUS.Attaque"}}</span>
                <span class="score">{{getCarac this.bonus.attaque}}</span>
            </div>
            <h4 class="separation">{{localize "KNIGHT.BONUS.Degats"}}</h4>
            <div class="middlespan noSeparation">
                <span class="header">{{localize "KNIGHT.ITEMS.Caracteristique"}}</span>
                <span class="score">{{getCarac this.bonus.degats.caracteristique}}</span>
            </div>
            <span class="oneLine {{#if this.bonus.degats.od}}lightBlack{{else}}black{{/if}}">
            {{#if this.bonus.degats.od}}
                {{localize "KNIGHT.INCLUS.Od"}}
            {{else}}
                {{localize "KNIGHT.NOINCLUS.Od"}}
            {{/if}}
            </span>
            <span class="oneLine {{#if this.bonus.degats.dice}}lightBlack{{else}}black{{/if}}">
            {{#if this.bonus.degats.dice}}
                {{localize "KNIGHT.INCLUS.Dice"}}
            {{else}}
                {{localize "KNIGHT.NOINCLUS.Dice"}}
            {{/if}}
            </span>
            <span class="oneLine {{#if this.bonus.degats.fixe}}lightBlack{{else}}black{{/if}}">
            {{#if this.bonus.degats.fixe}}
                {{localize "KNIGHT.INCLUS.Fixe"}}
            {{else}}
                {{localize "KNIGHT.NOINCLUS.Fixe"}}
            {{/if}}
            </span>
        </div>
    </div>
</div>
