<div class="nanoc">
    <h3 class="header js-toggler">
        {{~> knight.jsToggle}}
        {{label}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            {{#unless active.detaille}}
            {{#unless active.mecanique}}
            <button
                data-action="activateHuman"
                data-type="capacites"
                data-capacite="{{key}}"
                data-special="base">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetBase"}} : {{localizeactivate active.base}}
            </button>
            {{/unless}}
            {{/unless}}

            {{#unless active.base}}
            {{#unless active.mecanique}}
            <button
                data-action="activateHuman"
                data-type="capacites"
                data-capacite="{{key}}"
                data-special="detaille">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetDetaille"}} : {{localizeactivate active.detaille}}
            </button>
            {{/unless}}
            {{/unless}}

            {{#unless active.base}}
            {{#unless active.detaille}}
            <button
                data-action="activateHuman"
                data-type="capacites"
                data-capacite="{{key}}"
                data-special="mecanique">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetMecanique"}} : {{localizeactivate active.mecanique}}
            </button>
            {{/unless}}
            {{/unless}}

            {{#if this.active.base}}
            <button
                data-action="activateHuman"
                data-type="prolonger"
                data-capacite="{{key}}"
                data-special="base">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetBase"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
            </button>
            {{else}}
                {{#if this.active.detaille}}
                <button
                    data-action="activateHuman"
                    data-type="prolonger"
                    data-capacite="{{key}}"
                    data-special="detaille">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetDetaille"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                </button>
                {{else}}
                    {{#if this.active.mecanique}}
                    <button
                        data-action="activateHuman"
                        data-type="prolonger"
                        data-capacite="{{key}}"
                        data-special="mecanique">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetMecanique"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <h4>{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetBase"}}</span>
                <span class="score">{{this.energie.base}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetDetaille"}}</span>
                <span class="score">{{this.energie.detaille}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetMecanique"}}</span>
                <span class="score">{{this.energie.mecanique}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.AUTRE.Prolonger"}} / {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ParMinute"}}</span>
                <span class="score">{{this.energie.prolonger}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.duree}}</span>
            </div>
        </div>
    </div>
</div>
