
<div class="custom">
    <h2 class="header js-toggler">
            {{~> knight.jsToggle}}
            {{localize "KNIGHT.EFFETS.CUSTOM.Label"}}
    </h2>
    <div class="listCustom">
            <div class="header">
                <input type="text" name="custom.label" value="{{system.custom.label}}" />
                <button data-action="addCustom">{{ifThen system.custom.edit (localize "KNIGHT.AUTRE.Editer") (localize "KNIGHT.AUTRE.Ajouter")}}</button>
            </div>
            {{formInput
                fields.custom.fields.description
                enriched=enriched.description
                value=system.custom.description
                name="custom.description"
                collaborate=false
                toggled=true
            }}
            {{#each custom}}
            <div class="effetCustom {{ifThen (or (eq @index 0) (eq @index 2)) 'border' ''}}">
                {{#if (isArray this)}}
                        {{#each this}}
                            {{~> knight.dialog.effects.custom this}}
                        {{/each}}
                {{else}}
                        {{~> knight.dialog.effects.custom this}}
                {{/if}}
            </div>
            {{/each}}
    </div>
</div>