<div class="rightBlock">
      <div class="std">
            <h2 class="header js-toggler">
                  <i class="far fa-minus-square extendButton"></i>
                  {{localize "KNIGHT.EFFETS.Add"}}
            </h2>
            <div class="effetsAdd standard">
                  {{#each data.ePossibles as | key effet|}}
                        <div class="{{#if key.double}}double{{/if}} {{#if key.text}}text{{/if}}">
                        <img class="info" src="systems/knight/assets/icons/info.svg" />
                        <span class="label">{{key.name}}</span>
                        {{#if key.double}}
                              <input type="number" class="double" value="0" min="0" {{#if key.max}}max="{{key.max}}"{{/if}} />
                        {{/if}}
                        {{#if key.text}}
                              <input type="text" class="text" value="" placeholder="{{key.placeholder}}" />
                        {{/if}}
                        <a class="add" title="{{localize "KNIGHT.AUTRE.Ajouter"}}"
                              data-label="{{key.key}}" data-double="{{key.double}}" data-text="{{key.text}}">
                              <i class="fas fa-plus"></i>
                        </a>
                        <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                        </div>
                  {{/each}}
            </div>
      </div>
      {{#if data.ePossiblesActivable}}
            <div class="activable">
                  <h2 class="header js-toggler">
                        <i class="far fa-minus-square extendButton"></i>
                        {{localize "KNIGHT.EFFETS.AddActivable"}}
                  </h2>
                  <div class="effetsAdd activable">
                        {{#each data.ePossiblesActivable as | key effet|}}
                              <div class="{{#if key.double}}double{{/if}} {{#if key.text}}text{{/if}}">
                              <img class="info" src="systems/knight/assets/icons/info.svg" />
                              <span class="label">{{key.name}}</span>
                              {{#if key.double}}
                                    <input type="number" class="double" value="0" min="0" {{#if key.max}}max="{{key.max}}"{{/if}} />
                              {{/if}}
                              {{#if key.text}}
                                    <input type="text" class="text" value="" placeholder="{{key.placeholder}}" />
                              {{/if}}
                              <a class="add" title="{{localize "KNIGHT.AUTRE.Ajouter"}}"
                                    data-label="{{key.key}}" data-double="{{key.double}}" data-text="{{key.text}}">
                                    <i class="fas fa-plus"></i>
                              </a>
                              <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                              </div>
                        {{/each}}
                  </div>
            </div>
      {{/if}}
      <div class="custom">
            <h2 class="header js-toggler">
                  <i class="far fa-minus-square extendButton"></i>
                  {{localize "KNIGHT.EFFETS.CUSTOM.Label"}}
            </h2>
            <div class="effetCustom">
            {{#each custom}}
                  {{#if (isArray this)}}
                        {{#each this}}
                              {{~> knight.dialog.effects this}}
                        {{/each}}
                  {{else}}
                        {{~> knight.dialog.effects this}}
                  {{/if}}
            {{/each}}
            </div>
      </div>
</div>