<div class="recolteflux">
    <h3 class="header js-toggler">
        {{~> knight.jsToggle}}
        {{label}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            <label class="flux">
                <span>{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXHORSCONFLIT.NbreCreature"}} : </span>
                <input type="number"  data-dtype="Number"name="system.equipements.armure.special.flux" value="{{@root/systemData/equipements/armure/special/flux}}"
                min="1" />
            </label>

            <button
                data-action="activateHuman"
                data-type="special"
                data-capacite="{{key}}"
                data-special="horsConflit">
                {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXHORSCONFLIT.Label"}}
            </button>

            <button
                data-action="activateHuman"
                data-type="special"
                data-capacite="{{key}}"
                data-special="conflit"
                data-variant="debut"
                >
                {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.Label"}} : {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.DebutConflit"}}
            </button>

            <button
                data-action="activateHuman"
                data-type="special"
                data-capacite="{{key}}"
                data-special="conflit"
                data-variant="tour">
                {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.Label"}} : {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.ParTour"}}
            </button>

            <button
                data-action="activateHuman"
                data-type="special"
                data-capacite="{{key}}"
                data-special="conflit"
                data-variant="hostile">
                {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.Label"}} : {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.HostileTue"}}
            </button>

            <button
                data-action="activateHuman"
                data-type="special"
                data-capacite="{{key}}"
                data-special="conflit"
                data-variant="salopard">
                {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.Label"}} : {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.SalopardTue"}}
            </button>

            <button
                data-action="activateHuman"
                data-type="special"
                data-capacite="{{key}}"
                data-special="conflit"
                data-variant="patron">
                {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.Label"}} : {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.PatronTue"}}
            </button>
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXHORSCONFLIT.Label"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXHORSCONFLIT.FluxParCreature"}}</span>
                <span class="score">{{{this.horsconflit.base}}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.AUTRE.Limite"}}</span>
                <span class="score">{{{this.horsconflit.limite}}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span class="score">{{{getPortee this.horsconflit.portee}}}</span>
            </div>
        </div>

        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.Label"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.DebutConflit"}}</span>
                <span class="score">{{{this.conflit.base}}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.ParTour"}}</span>
                <span class="score">{{{this.conflit.tour}}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.ParHostile"}}</span>
                <span class="score">{{{this.conflit.hostile}}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.ParSalopard"}}</span>
                <span class="score">{{{this.conflit.salopard}}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.RECOLTEFLUX.FLUXENCONFLIT.ParPatron"}}</span>
                <span class="score">{{{this.conflit.patron}}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span class="score">{{{getPortee this.conflit.portee}}}</span>
            </div>
        </div>
    </div>
</div>
