
<div class="aspects crow companions" data-type="crow">
    <h2 class="header">
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.CROW.Label"}}
    </h2>
    <label class="longspan">
        <span class="label">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.AspectsRestantRepartir"}}</span>
        <input type="number" name="system.crow.points.aspects" value="{{system.crow.points.aspects}}" disabled />
    </label>

    <label></label>
    {{#each system.crow.aspects as | key aspect|}}
        <div class="block">
            <h2 class="header">
                {{getAspect aspect}}
            </h2>
            <label class="longspan">
                <span class="label">{{localize "KNIGHT.ASPECTS.Aspect"}}</span>
                <input class="aspect" type="number"
                name="system.crow.aspects.{{aspect}}.value"
                data-path="system.crow.points.aspects"
                value="{{key.value}}"
                max="{{key.max}}"
                min="{{key.min}}" />
            </label>
        </div>
    {{/each}}
</div>