
<div class="aspects lion companions" data-type="lion">
    <h2 class="header">
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.LION.Label"}}
    </h2>
    <label class="longspan">
        <span class="label">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.AspectsRestantRepartir"}}</span>
        <input class="aspectDistribuer" type="number"  data-dtype="Number"name="system.lion.points.aspects" value="{{system.lion.points.aspects}}" disabled />
    </label>
    <label class="longspan">
        <span class="label">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.AspectsExceptionnelsRestantRepartir"}}</span>
        <input class="aeDistribuer" type="number"  data-dtype="Number"name="system.lion.points.ae" value="{{system.lion.points.ae}}" disabled />
    </label>
    {{#each system.lion.aspects as | key aspect|}}
        <div class="block">
            <h2 class="header">
                {{getAspect aspect}}
            </h2>
            <label class="longspan">
                <span class="label">{{localize "KNIGHT.ASPECTS.Aspect"}}</span>
                <input class="aspect" type="number"
                name="system.lion.aspects.{{aspect}}.value"
                value="{{key.value}}"
                data-path="system.lion.points.aspects"
                max="{{key.max}}"
                min="{{key.min}}" />
            </label>
            <label class="longspan borderTop">
                <span class="label">{{localize "KNIGHT.ASPECTS.Exceptionnels"}}</span>
                <input class="ae" type="number"
                name="system.lion.aspects.{{aspect}}.ae"
                data-path="system.lion.points.ae"
                 value="{{key.ae}}"
                 max="{{key.aeMax}}"
                 min="{{key.aeMin}}"  />
            </label>
        </div>
    {{/each}}
</div>