
<div class="wolf companions" data-type="wolf">
    <div class="aspects">
        <h2 class="header">
            {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.WOLF.Label"}}
        </h2>
        <label class="longspan">
            <span class="label">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.AspectsRestantRepartir"}}</span>
            <input class="aspectDistribuer" type="number"  data-dtype="Number"name="system.wolf.points.aspects" value="{{system.wolf.points.aspects}}" disabled />
        </label>
        <label class="longspan">
            <span class="label">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.AspectsExceptionnelsRestantRepartir"}}</span>
            <input class="aeDistribuer" type="number"  data-dtype="Number"name="system.wolf.points.ae" value="{{system.wolf.points.ae}}" disabled />
        </label>
        {{#each system.wolf.aspects as | key aspect|}}
            <div class="block">
                <h2 class="header">
                    {{getAspect aspect}}
                </h2>
                <label class="longspan">
                    <span class="label">{{localize "KNIGHT.ASPECTS.Aspect"}}</span>
                    <input class="aspect" type="number"
                    name="system.wolf.aspects.{{aspect}}.value"
                    data-path="system.wolf.points.aspects"
                    value="{{key.value}}"
                    max="{{key.max}}"
                    min="{{key.min}}" />
                </label>
                <label class="longspan borderTop">
                    <span class="label">{{localize "KNIGHT.ASPECTS.Exceptionnels"}}</span>
                    <input class="ae" type="number"
                    name="system.wolf.aspects.{{aspect}}.ae"
                    data-path="system.wolf.points.ae"
                    value="{{key.ae}}"
                    min="{{key.aeMin}}"  />
                </label>
            </div>
        {{/each}}
    </div>

    <div class="configuration">
        <h2 class="header">
            {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.WOLF.EvolutionConfigurations"}}
        </h2>
        <label class="longspan">
            <span class="label">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.COMPANIONS.NiveauConfigurationRestant"}}</span>
            <input class="bonusDistribuer" type="number"  data-dtype="Number"name="system.wolf.points.configuration" value="{{system.wolf.points.configuration}}" disabled />
        </label>
        <label></label>

        <div class="list">
            {{#each system.wolf.configurations as | key configuration|}}
                <label class="longspan">
                    <span class="label">{{localize key.label}}</span>
                    <input type="number"
                    name="system.wolf.configurations.{{configuration}}.value"
                    data-path="system.wolf.points.configuration"
                    value="{{key.value}}"
                    max="{{key.max}}"
                    min="{{key.min}}" />
                </label>
            {{/each}}
        </div>
    </div>
</div>