
<section class="menu">
    <section class="mainBlock">
        <div class="styleCombat">
            <span class="label">{{localize "KNIGHT.COMBAT.STYLES.Label"}}</span>
            <span class="info {{#if systemData.combat.styleDeploy}} clicked {{/if}}">?</span>
            <span class="{{#if systemData.combat.styleDeploy}} showInfo {{else}} hideInfo {{/if}}">{{{systemData.combat.styleInfo}}}</span>
            <select name="system.combat.style">
                {{selectOptions (getList 'style') selected=systemData.combat.style localize=true}}
            </select>
        </div>
    </section>

    <section class="mainBlock">
        {{#if systemData.jauges.sante}}
        <div class="sante">
            <div class="line js-simpletoggler">
                <span class="option"><img src="systems/knight/assets/icons/option.svg" class="option" data-option="sante"></span>
                <span class="label">{{localize "KNIGHT.LATERAL.Sante"}}</span>
                <input class="value" type="number" name="system.sante.value" min="0" max="{{systemData.sante.max}}" value="{{systemData.sante.value}}" />
                <span class="separation">/</span>
                <span class="score" data-tooltip="{{menuTooltip 'sante' systemData}}">{{systemData.sante.max}}</span>
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.BONUS.Label"}}</span>
                <input type="number" name="system.sante.bonus.user" data-type="sante" min="0" value="{{systemData.sante.bonus.user}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label withBorder">{{localize "KNIGHT.MALUS.Label"}}</span>
                <input class="withBorder" type="number" name="system.sante.malus.user" data-type="sante" min="0" value="{{systemData.sante.malus.user}}" />
            </div>
        </div>
        {{/if}}

        {{#if systemData.jauges.egide}}
        <div class="egide">
            <div class="line js-simpletoggler">
                <span class="option"><img src="systems/knight/assets/icons/option.svg" class="option" data-option="egide"></span>
                <span class="label" title="{{localize "KNIGHT.LATERAL.ChampDeForce"}}">{{localize "KNIGHT.LATERAL.Egide"}}</span>
                <span class="score" data-tooltip="{{menuTooltip 'egide' systemData}}">{{systemData.egide.value}}</span>
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.AUTRE.Base"}}</span>
                <input type="number" name="system.egide.base" data-type="egide"  min="0"
                value="{{systemData.egide.base}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.BONUS.Label"}}</span>
                <input type="number" name="system.egide.bonus.user" data-type="egide"  min="0"
                value="{{systemData.egide.bonus.user}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.MALUS.Label"}}</span>
                <input type="number" name="system.egide.malus.user" data-type="egide"  min="0"
                value="{{systemData.egide.malus.user}}" />
            </div>
        </div>
        <button type="action" class="jetEgide" data-value="{{systemData.egide.value}}D6">{{localize "KNIGHT.JETS.JetEgide"}}</button>
        {{/if}}

        {{#if systemData.jauges.espoir}}
        <div class="espoir">
            <div class="line js-simpletoggler">
                <span class="option"><img src="systems/knight/assets/icons/option.svg" class="option" data-option="espoir"></span>
                <span class="label">{{localize "KNIGHT.LATERAL.Espoir"}}</span>
                <input class="value" type="number" name="system.espoir.value" min="0" max="{{systemData.espoir.max}}" value="{{systemData.espoir.value}}" />
                <span class="separation">/</span>
                <span class="score" data-tooltip="{{menuTooltip 'espoir' systemData}}">{{systemData.espoir.max}}</span>
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.BONUS.Label"}}</span>
                <input type="number" name="system.espoir.bonus.user" min="0" value="{{systemData.espoir.bonus.user}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.MALUS.Label"}}</span>
                <input type="number" name="system.espoir.malus.user" min="0" value="{{systemData.espoir.malus.user}}" />
            </div>
        </div>
        <button type="action" class="jetEspoir draggable" data-label="{{localize "KNIGHT.JETS.JetEspoir"}}" data-type="espoir" data-what="hargne" data-other="sangFroid">{{localize "KNIGHT.JETS.JetEspoir"}}</button>
        {{/if}}

        {{#if systemData.jauges.heroisme}}
        <div class="heroisme">
            <div class="line">
                <span class="label">{{localize "KNIGHT.LATERAL.Heroisme"}}</span>
                <input type="number" name="system.heroisme.value" min="0" max="{{systemData.heroisme.max}}" value="{{systemData.heroisme.value}}" />
                <span class="separation">/</span>
                <span class="score">{{systemData.heroisme.max}}</span>
            </div>
        </div>
        {{/if}}
    </section>

    <section class="mainBlock">
        {{#if systemData.jauges.armure}}
        <div class="armure">
            <div class="line js-simpletoggler">
                <span class="option"><img src="systems/knight/assets/icons/option.svg" class="option" data-option="armure"></span>
                <span class="label">{{localize "KNIGHT.LATERAL.Armure"}}</span>
                <input class="value" type="number" name="{{getInputPath systemData.wear 'armure'}}" min="0" max="{{systemData.armure.max}}" value="{{getInputData systemData 'armure' 'value'}}" />
                <span class="separation">/</span>
                <span class="score" data-tooltip="{{menuTooltip 'armure' systemData}}">{{systemData.armure.max}}</span>
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.BONUS.Label"}}</span>
                <input type="number" name="system.equipements.{{systemData.wear}}.armure.bonus.user" min="0" value="{{getInputData systemData 'armure' 'bonusUser'}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.MALUS.Label"}}</span>
                <input type="number" name="system.equipements.{{systemData.wear}}.armure.malus.user" min="0" value="{{getInputData systemData 'armure' 'malusUser'}}" />
            </div>
        </div>
        {{/if}}

        {{#if systemData.jauges.energie}}
        <div class="energie">
            <div class="line js-simpletoggler">
                <span class="option"><img src="systems/knight/assets/icons/option.svg" class="option" data-option="energie"></span>
                <span class="label">{{localize "KNIGHT.LATERAL.Energie"}}</span>
                <input class="value" type="number" name="{{getInputPath systemData.wear 'energie'}}" min="0" max="{{systemData.energie.max}}" value="{{getInputData systemData 'energie' 'value'}}" />
                <span class="separation">/</span>
                <span class="score" data-tooltip="{{menuTooltip 'energie' systemData}}">{{systemData.energie.max}}</span>
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.BONUS.Label"}}</span>
                <input type="number" name="system.equipements.{{systemData.wear}}.energie.bonus.user"  min="0"
                value="{{getInputData systemData 'energie' 'bonusUser'}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.MALUS.Label"}}</span>
                <input type="number" name="system.equipements.{{systemData.wear}}.energie.malus.user" min="0" value="{{getInputData systemData 'energie' 'malusUser'}}" />
            </div>
        </div>
        {{/if}}

        {{#if systemData.jauges.champDeForce}}
        <div class="champDeForce">
            <div class="line js-simpletoggler">
                <span class="option"><img src="systems/knight/assets/icons/option.svg" class="option" data-option="champDeForce"></span>
                <span class="label" title="{{localize "KNIGHT.LATERAL.ChampDeForce"}}">{{localize "KNIGHT.LATERAL.ChampDeForce-short"}}</span>
                <span class="score" data-tooltip="{{menuTooltip 'champDeForce' systemData}}">{{systemData.champDeForce.value}}</span>
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.BONUS.Label"}}</span>
                <input type="number" name="system.equipements.{{systemData.wear}}.champDeForce.bonus.user" data-type="champDeForce"  min="0"
                value="{{#if (guardian systemData.wear)}}{{systemData.equipements.guardian.champDeForce.bonus.user}}{{/if}}{{#if (armure systemData.wear)}}{{systemData.equipements.armure.champDeForce.bonus.user}}{{/if}}{{#if (ascension systemData.wear)}}{{systemData.equipements.ascension.champDeForce.bonus.user}}{{/if}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.MALUS.Label"}}</span>
                <input type="number" name="system.equipements.{{systemData.wear}}.champDeForce.malus.user" data-type="champDeForce"  min="0" value="{{#if (guardian systemData.wear)}}{{systemData.equipements.guardian.champDeForce.malus.user}}{{/if}}{{#if (armure systemData.wear)}}{{systemData.equipements.armure.champDeForce.malus.user}}{{/if}}{{#if (ascension systemData.wear)}}{{systemData.equipements.ascension.champDeForce.malus.user}}{{/if}}" />
            </div>
        </div>
        {{/if}}

        {{#if systemData.jauges.flux}}
        <div class="flux">
            <div class="line">
                <span class="label" title="{{localize "KNIGHT.LATERAL.Flux"}}">{{localize "KNIGHT.LATERAL.Flux"}}</span>
                <input type="number" name="system.flux.value" min="0" value="{{systemData.flux.value}}" />
            </div>
        </div>
        {{/if}}

        {{#if (hasSpecial 'contrecoups' actor.armureData.system.special.selected)}}
            {{#unless actor.armureData.system.special.selected.contrecoups.unactif}}
            <div class="contrecoups">
                <div class="line">
                    <span class="label" title="{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.CONTRECOUPS.Label"}}">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.CONTRECOUPS.Label"}}</span>
                    <input type="number" name="system.equipements.armure.special.contrecoups" min="0" value="{{systemData.equipements.armure.special.contrecoups}}" />
                </div>
            </div>
            {{/unless}}
        {{/if}}

        {{#if (hasSpecial 'impregnation' actor.armureData.system.special.selected)}}
        <div class="impregnation">
            <div class="line">
                <span class="label" title="{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.IMPREGNATION.Label"}}">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.IMPREGNATION.Label"}}</span>
                <input type="number" name="system.equipements.armure.special.impregnation" min="0" value="{{systemData.equipements.armure.special.impregnation}}" />
            </div>
        </div>
        {{/if}}
    </section>

    <section class="mainBlock">
        <div class="reaction">
            <div class="line js-simpletoggler">
                <span class="option"><img src="systems/knight/assets/icons/option.svg" class="option" data-option="reaction"></span>
                <span class="label">{{localize "KNIGHT.LATERAL.Reaction"}}</span>
                <span class="score" data-tooltip="{{menuTooltip 'reaction' systemData}}">{{systemData.reaction.value}}</span>
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.BONUS.Label"}}</span>
                <input type="number" name="system.reaction.bonus.user" min="0" value="{{systemData.reaction.bonus.user}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.MALUS.Label"}}</span>
                <input type="number" name="system.reaction.malus.user" min="0" value="{{systemData.reaction.malus.user}}" />
            </div>
        </div>

        <div class="defense">
            <div class="line js-simpletoggler">
                <span class="option"><img src="systems/knight/assets/icons/option.svg" class="option" data-option="defense"></span>
                <span class="label">{{localize "KNIGHT.LATERAL.Defense"}}</span>
                <span class="score" data-tooltip="{{menuTooltip 'defense' systemData}}">{{systemData.defense.value}}</span>
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.BONUS.Label"}}</span>
                <input type="number" name="system.defense.bonus.user" min="0" value="{{systemData.defense.bonus.user}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.MALUS.Label"}}</span>
                <input type="number" name="system.defense.malus.user" min="0" value="{{systemData.defense.malus.user}}" />
            </div>
        </div>

        <div class="initiative">
            <div class="line js-simpletoggler">
                <span class="option {{#if systemData.initiative.optionDeploy}} withoutBorder  {{/if}}"><img src="systems/knight/assets/icons/option.svg" class="option" data-option="initiative"></span>
                <span class="label">{{localize "KNIGHT.LATERAL.Initiative"}}</span>
                <span class="score">
                    {{systemData.initiative.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{systemData.initiative.value}}
                </span>
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.JETS.Des"}}</span>
                <input type="number" name="system.initiative.diceBase" min="0" value="{{systemData.initiative.diceBase}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.BONUS.Label"}}</span>
                <input type="number" name="system.initiative.bonus.user" min="0" value="{{systemData.initiative.bonus.user}}" />
            </div>
            <div class="subLine" style="display:none;">
                <span class="label">{{localize "KNIGHT.MALUS.Label"}}</span>
                <input type="number" name="system.initiative.malus.user" min="0" value="{{systemData.initiative.malus.user}}" />
            </div>
        </div>
    </section>

    <section class="mainBlock">
        <div class="reductionPEs">
            <div class="line">
                <span class="label">{{localize "KNIGHT.LATERAL.ReductionPEs"}}</span>
                <input type="number" name="system.espoir.reduction" value="{{systemData.espoir.reduction}}" min="0"/>
            </div>
        </div>
    </section>
</section>