
{{#if (eq type 'h2')}}
    <h2 class="header {{ifThen (gt @index 1) 'border' ''}}">
        {{localize i18n}}
    </h2>
{{/if}}

{{#if (or (eq type 'text') (eq type 'number'))}}
    <label class="{{type}} {{ifThen (gt @index 1) 'border' ''}}">
        <span class="label">{{localize i18n}}</span>
        <input type="{{type}}" name="{{name}}" value="{{value}}" />
    </label>
{{/if}}

{{#if (eq type 'editor')}}
    {{editor value target=(concat "custom." index ".value") button=true engine="prosemirror" collaborate=false}}
{{/if}}

{{#if (eq type 'numberWithSpan')}}
    <div class="{{type}} {{ifThen (gt @index 1) 'border' ''}}">
        <span class="label">{{localize i18n}}</span>
        <label>
            <input type="number"  data-dtype="Number"name="{{name}}" value="{{value}}" min="{{min}}" max="{{max}}"/>
            <span>{{localize span}}</span>
        </label>
    </div>
{{/if}}

{{#if (eq type 'select')}}
    <label class="{{type}} {{ifThen (gt @index 1) 'border' ''}}">
        <span class="label">{{localize i18n}}</span>
        <select name="{{name}}">
            {{selectOptions choices selected=value valueAttr='key' labelAttr='label' blank='' localize=true}}
        </select>
    </label>
{{/if}}

{{#if (eq type 'button')}}
<button data-action="toggle" data-path="{{name}}" data-hide="{{hasHide}}" class="{{ifThen value 'selected' ''}}">
    <i class="fa-solid {{ifThen value 'fa-check green' 'fa-xmark red'}}"></i>
    {{localize i18n}}
</button>
{{/if}}

{{#if (eq type 'textarea')}}
<textarea name="{{name}}" class="{{type}} {{ifThen hide '' 'hide'}}">{{value}}</textarea>
{{/if}}