<div class="blockMunitions">
    {{#each systemData.optionsmunitions.liste as | key effet|}}
    <div>
        <label>
            <span class="header">{{localize "KNIGHT.ITEMS.ARME.MUNITIONS.Label"}} : </span>
            <input type="text" name="system.optionsmunitions.liste.{{effet}}.nom" value="{{key.nom}}" />
        </label>
        <div>
            <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
            <div>
                <input type="number"  data-dtype="Number"name="system.optionsmunitions.liste.{{effet}}.degats.dice" value="{{key.degats.dice}}" min="0" />
                <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                <input type="number"  data-dtype="Number"name="system.optionsmunitions.liste.{{effet}}.degats.fixe" value="{{key.degats.fixe}}" />
            </div>
        </div>
        <div>
            <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
            <div>
                <input type="number"  data-dtype="Number"name="system.optionsmunitions.liste.{{effet}}.violence.dice" value="{{key.violence.dice}}" min="0" />
                <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                <input type="number"  data-dtype="Number"name="system.optionsmunitions.liste.{{effet}}.violence.fixe" value="{{key.violence.fixe}}" />
            </div>
        </div>
    </div>
    {{/each}}
</div>