<input type="number" name="system.{{path}}.dice" value="{{getProperty systemData (concat path '.dice')}}" min="{{ifThen min min '0'}}" max="{{max}}" />
<span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
<input type="number" class="{{classFixe}}" name="system.{{path}}.fixe" value="{{getProperty systemData (concat (ifThen fixePath fixePath path) '.fixe')}}" />