<div class="{{tab.cssClass}}" data-group="primary" data-tab="art">
    <div class="artFull">
        <h2 class="header summary" data-item-id="{{actor.art._id}}">
            {{#if actor.art.name}}

            {{actor.art.name}}
            <div class="multiButton">
                {{#if (canRoll 'pj' actor.art.system.jet.c1)}}
                <button type="action" class="roll" data-caracteristique="{{actor.art.system.jet.c1}}" data-caraclock="{{actor.art.system.jet.c1}}" data-label="{{actor.art.name}}" data-nood="true">
                    {{localize "KNIGHT.JETS.Label"}} : {{getCarac actor.art.system.jet.c1}}
                </button>
                {{/if}}
                {{#if (canRoll 'pj' actor.art.system.jet.c2)}}
                <button type="action" class="roll" data-caracteristique="{{actor.art.system.jet.c2}}" data-caraclock="{{actor.art.system.jet.c2}}" data-label="{{actor.art.name}}" data-nood="true">
                    {{localize "KNIGHT.JETS.Label"}} : {{getCarac actor.art.system.jet.c2}}
                </button>
                {{/if}}
            </div>
            {{~> systems/knight/templates/actors/parts/common/itemButtons.hbs}}

            {{else}}
                {{localize "KNIGHT.ART.Label"}}
                <a
                data-action="itemCreate"
                data-tooltip="{{localize "KNIGHT.AUTRE.CreateItem" item=(localize "KNIGHT.ART.Label")}}"
                data-type="art"><i class="fas fa-plus"></i></a>
            {{/if}}
        </h2>
        <span class="description">
            {{{actor.art.system.description}}}
        </span>
        {{#if actor.art.system.pratique.has}}
            <div class="col">
                <div class="pratique">
                    <h2 class="header js-toggler">
                        <i class="far fa-minus-square"></i>
                        {{localize "KNIGHT.ART.PRATIQUE.Label"}}
                    </h2>
                    <h3>{{localize "KNIGHT.ART.PRATIQUE.Base"}}
                        <a class="art-say"
                        data-action="sendMsg"
                        data-name="{{actor.art.name}} - {{localize "KNIGHT.ART.PRATIQUE.Base"}}"
                        data-msg="{{capaciteDescription actor.art.system.pratique.base}}">
                        <i class="fa-solid fa-comment-dots"></i>
                        </a>
                    </h3>
                    <span>{{{capaciteDescription actor.art.system.pratique.base}}}</span>
                    <h3>{{localize "KNIGHT.ART.PRATIQUE.Apprenti"}}
                        <a class="art-say"
                        data-action="sendMsg"
                        data-name="{{actor.art.name}} - {{localize "KNIGHT.ART.PRATIQUE.Apprenti"}}"
                        data-msg="{{capaciteDescription actor.art.system.pratique.apprenti}}">
                        <i class="fa-solid fa-comment-dots"></i>
                        </a>
                    </h3>
                    <span>{{{capaciteDescription actor.art.system.pratique.apprenti}}}</span>
                    <h3>{{localize "KNIGHT.ART.PRATIQUE.Initie"}}
                        <a class="art-say"
                        data-action="sendMsg"
                        data-name="{{actor.art.name}} - {{localize "KNIGHT.ART.PRATIQUE.Initie"}}"
                        data-msg="{{capaciteDescription actor.art.system.pratique.initie}}">
                        <i class="fa-solid fa-comment-dots"></i>
                        </a>
                    </h3>
                    <span>{{{capaciteDescription actor.art.system.pratique.initie}}}</span>
                    <h3>
                        {{localize "KNIGHT.ART.PRATIQUE.Maitre"}}
                        <a class="art-say"
                        data-action="sendMsg"
                        data-name="{{actor.art.name}} - {{localize "KNIGHT.ART.PRATIQUE.Maitre"}}"
                        data-msg="{{capaciteDescription actor.art.system.pratique.maitre}}">
                        <i class="fa-solid fa-comment-dots"></i>
                        </a>
                    </h3>
                    <span>{{{capaciteDescription actor.art.system.pratique.maitre}}}</span>
                </div>

                <div class="recuperation">
                    <h2 class="header js-toggler">
                        <i class="far fa-minus-square"></i>
                        {{localize "KNIGHT.ART.RecuperationEspoir"}}
                    </h2>
                    <button type="action" class="rollRecuperationArt" data-value="1D6">1{{localize "KNIGHT.JETS.Des-short"}}6</button>
                    <button type="action" class="rollRecuperationArt" data-value="2D6">2{{localize "KNIGHT.JETS.Des-short"}}6</button>
                    <button type="action" class="rollRecuperationArt" data-value="3D6">3{{localize "KNIGHT.JETS.Des-short"}}6</button>
                    <button type="action" class="rollRecuperationArt" data-value="4D6">4{{localize "KNIGHT.JETS.Des-short"}}6</button>
                </div>
            </div>
        {{/if}}

        {{#if actor.art.system.oeuvre.has}}
            <div class="col">
                <div class="oeuvre">
                    <h2 class="header js-toggler">
                        <i class="far fa-minus-square"></i>
                        {{localize "KNIGHT.ART.OEUVRE.Label"}}
                    </h2>
                    <div class="shortspan">
                        <span class="label">{{localize "KNIGHT.ART.OEUVRE.Court"}}</span>
                        <span class="score">{{actor.art.system.oeuvre.temps.court}}</span>
                    </div>
                    <div class="shortspan">
                        <span class="label">{{localize "KNIGHT.ART.OEUVRE.Moyen"}}</span>
                        <span class="score">{{actor.art.system.oeuvre.temps.moyen}}</span>
                    </div>
                    <div class="shortspan">
                        <span class="label">{{localize "KNIGHT.ART.OEUVRE.Long"}}</span>
                        <span class="score">{{actor.art.system.oeuvre.temps.long}}</span>
                    </div>
                    <span class="description">{{{capaciteDescription actor.art.system.oeuvre.base}}}</span>
                </div>

                <div class="listeoeuvre">
                    <h2 class="header js-toggler">
                        <i class="far fa-minus-square"></i>
                        {{localize "KNIGHT.ART.OEUVRE.Liste"}}
                    </h2>
                    {{#each actor.art.system.oeuvre.liste  as | key oeuvre|}}
                    <div>
                        <span class="label">{{key.name}}</span>
                        <span class="description">{{{capaciteDescription key.description}}}</span>
                    </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </div>
</div>