
<div class="{{tab.cssClass}}" data-group="primary" data-tab="personnage">
    <div class="motivations">
        <div class="majeure">
            <h2 class="header">{{localize "KNIGHT.PERSONNAGE.MotivationMajeure"}}</h2>

            <textarea name="system.motivations.majeure">{{systemData.motivations.majeure}}</textarea>
        </div>

        <div class="mineure item-list">
            <h2 class="header">
                <span>{{localize "KNIGHT.PERSONNAGE.MotivationMineures"}}</span>
                {{#unless systemData.espoir.recuperation.aucun}}
                <button type="action" class="motivationAccomplie">{{localize "KNIGHT.PERSONNAGE.MotivationAccomplie"}}</button>
                {{/unless}}
                <a
                data-tooltip="{{localize "KNIGHT.AUTRE.CreateItem" item=(localize "KNIGHT.PERSONNAGE.MotivationMineures")}}"
                data-type="motivationMineure"
                data-action="itemCreate"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.motivationMineure as | key motivation|}}
            <div class="block summary item" data-item-id="{{key._id}}">
                {{~> systems/knight/templates/actors/parts/common/itemButtons.hbs}}
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    {{~> systems/knight/templates/actors/parts/human/cyberware.hbs}}

    <div class="avDv">
        <div class="av item-list">
            <h2 class="header">
                {{localize "KNIGHT.PERSONNAGE.Avantages"}}
                <a
                data-action="itemCreate"
                data-tooltip="{{localize "KNIGHT.AUTRE.CreateItem" item=(localize "KNIGHT.PERSONNAGE.Avantages")}}"
                data-type="avantage"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.avantages as | key avantages|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    <i class="far fa-plus-square extendButton"></i>
                    {{~> systems/knight/templates/actors/parts/common/itemButtons.hbs}}
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>

        <div class="dv item-list">
            <h2 class="header">
                {{localize "KNIGHT.PERSONNAGE.Inconvenient"}}
                <a
                data-action="itemCreate"
                data-tooltip="{{localize "KNIGHT.AUTRE.CreateItem" item=(localize "KNIGHT.PERSONNAGE.Inconvenient")}}"
                data-type="inconvenient"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.inconvenient as | key inconvenient|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    <i class="far fa-plus-square extendButton"></i>
                    {{~> systems/knight/templates/actors/parts/common/itemButtons.hbs}}
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    {{#if actor.distinctions}}
        {{~> systems/knight/templates/actors/parts/human/pc/distinctions.hbs}}
    {{/if}}

    <div class="heroisme">
        <div class="liste item-list">
            <h2 class="header">
                {{localize "KNIGHT.HEROISME.CARTE.Label"}}
                <a class="item-control item-create" title="Create Item" data-type="carteheroique"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.carteHeroique as | key heroisme|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    <i class="far fa-plus-square extendButton"></i>
                    {{~> systems/knight/templates/actors/parts/common/itemButtons.hbs}}
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>

        <div class="liste item-list">
            <h2 class="header">
                {{localize "KNIGHT.HEROISME.CAPACITE.Label"}}
                <a class="item-control item-create" title="Create Item" data-type="capaciteheroique"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.capaciteHeroique as | key heroisme|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    <i class="far fa-plus-square extendButton"></i>
                    {{~> systems/knight/templates/actors/parts/common/itemButtons.hbs}}
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="description hideShowLimited" data-toverify="showDescriptionFull" data-default="false" data-onlygm="false">
        <h2 class="header">
            {{localize "KNIGHT.Description"}}
            <i data-toupdate="showDescriptionFull" data-value="true" class="fa-solid fa-eye-slash hideLimited hideShowLimited" title="{{localize "KNIGHT.HIDESHOW.Show"}}"></i>
            <i data-toupdate="showDescriptionFull" data-value="false" class="fa-solid fa-eye showLimited hideShowLimited" title="{{localize "KNIGHT.HIDESHOW.Hide"}}"></i>
        </h2>

        {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    <div class="description hideShowLimited" data-toverify="showDescriptionLimited" data-default="true" data-onlygm="false">
        <h2 class="header">
            {{localize "KNIGHT.DescriptionLimitee"}}
            <i data-toupdate="showDescriptionLimited" data-value="true" class="fa-solid fa-eye-slash hideLimited hideShowLimited" title="{{localize "KNIGHT.HIDESHOW.Show"}}"></i>
            <i data-toupdate="showDescriptionLimited" data-value="false" class="fa-solid fa-eye showLimited hideShowLimited" title="{{localize "KNIGHT.HIDESHOW.Hide"}}"></i>
        </h2>

        {{editor systemData.descriptionLimitee target="system.descriptionLimitee" button=true owner=owner editable=editable}}
    </div>
</div>