
<div class="tab personnage" data-group="primary" data-tab="personnage">
    <div class="motivations">
        <div class="majeure">
            <h2 class="header">{{localize "KNIGHT.PERSONNAGE.MotivationMajeure"}}</h2>

            <textarea name="system.motivations.majeure">{{systemData.motivations.majeure}}</textarea>
        </div>

        <div class="mineure item-list">
            <h2 class="header">
                {{localize "KNIGHT.PERSONNAGE.MotivationMineures"}}
                {{#unless systemData.espoir.recuperation.aucun}}
                <button type="action" class="motivationAccomplie">{{localize "KNIGHT.PERSONNAGE.MotivationAccomplie"}}</button>
                {{/unless}}
                <a class="item-control item-create" title="Create Item" data-type="motivationMineure"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.motivationMineure as | key motivation|}}
            <div class="block summary item" data-item-id="{{key._id}}">
                <div class="gestionButton">
                    <a class="item-control item-edit" data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                </div>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    {{~> systems/knight/templates/actors/subtab/cyberware.hbs}}

    <div class="avDv">
        <div class="av item-list">
            <h2 class="header">
                {{localize "KNIGHT.PERSONNAGE.Avantages"}}
                <a class="item-control item-create" title="Create Item" data-type="avantage"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.avantages as | key avantages|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    <i class="far fa-plus-square extendButton"></i>
                    <div class="gestionButton">
                        <a class="item-control item-edit" data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                    </div>
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>

        <div class="dv item-list">
            <h2 class="header">
                {{localize "KNIGHT.PERSONNAGE.Inconvenient"}}
                <a class="item-control item-create" title="Create Item" data-type="inconvenient"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.inconvenient as | key inconvenient|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    <i class="far fa-plus-square extendButton"></i>
                    <div class="gestionButton">
                        <a class="item-control item-edit" data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                    </div>
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    {{#if actor.distinctions}}
    <div class="distinction item-list">
        <h2 class="header">
            {{localize "KNIGHT.PERSONNAGE.Distinctions"}}
        </h2>
        {{#each actor.distinctions as | key distinctions|}}
        <div class="block item" data-item-id="{{key._id}}">
            <header class="summary header js-toggler" data-item-id="{{key._id}}">
                <i class="far fa-plus-square extendButton"></i>
                <div class="gestionButton">
                    <a class="item-control item-edit" data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                </div>
                <span>{{key.name}}</span>
            </header>
            <img src="{{img}}" />
            <span class="description">
                {{{key.system.description}}}
            </span>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <div class="heroisme">
        <div class="liste item-list">
            <h2 class="header">
                {{localize "KNIGHT.HEROISME.CARTE.Label"}}
                <a class="item-control item-create" title="Create Item" data-type="carteheroique"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.carteHeroique as | key heroisme|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    <i class="far fa-plus-square extendButton"></i>
                    <div class="gestionButton">
                        <a class="item-control item-edit" data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                    </div>
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>

        <div class="liste item-list">
            <h2 class="header">
                {{localize "KNIGHT.HEROISME.CAPACITE.Label"}}
                <a class="item-control item-create" title="Create Item" data-type="capaciteheroique"><i class="fas fa-plus"></i></a>
            </h2>
            {{#each actor.capaciteHeroique as | key heroisme|}}
            <div class="block item" data-item-id="{{key._id}}">
                <header class="summary header js-toggler" data-item-id="{{key._id}}">
                    <i class="far fa-plus-square extendButton"></i>
                    <div class="gestionButton">
                        <a class="item-control item-edit" data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                    </div>
                    <span>{{key.name}}</span>
                </header>
                <span class="description">
                    {{{key.system.description}}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="description hideShowLimited" data-toverify="showDescriptionFull" data-default="false" data-onlygm="false">
        <h2 class="header">
            {{localize "KNIGHT.Description"}}
            <i data-toupdate="showDescriptionFull" data-value="true" class="fa-solid fa-eye-slash hideLimited hideShowLimited" title="{{localize "KNIGHT.HIDESHOW.Show"}}"></i>
            <i data-toupdate="showDescriptionFull" data-value="false" class="fa-solid fa-eye showLimited hideShowLimited" title="{{localize "KNIGHT.HIDESHOW.Hide"}}"></i>
        </h2>

        {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    <div class="description hideShowLimited" data-toverify="showDescriptionLimited" data-default="true" data-onlygm="false">
        <h2 class="header">
            {{localize "KNIGHT.DescriptionLimitee"}}
            <i data-toupdate="showDescriptionLimited" data-value="true" class="fa-solid fa-eye-slash hideLimited hideShowLimited" title="{{localize "KNIGHT.HIDESHOW.Show"}}"></i>
            <i data-toupdate="showDescriptionLimited" data-value="false" class="fa-solid fa-eye showLimited hideShowLimited" title="{{localize "KNIGHT.HIDESHOW.Hide"}}"></i>
        </h2>

        {{editor systemData.descriptionLimitee target="system.descriptionLimitee" button=true owner=owner editable=editable}}
    </div>
</div>